<div class="container mx-auto">
  <div class="py-6">
    <img class="h-20" src="images/bdjobsLogo.svg" alt="">
  </div>
  <div class="text-center mx-auto border-2 w-full py-2 font-semibold text-xl">Hot Job / Tender Manager <span class="text-red-700">( &commat;
      bdjobs.com )</span></div>

  <div class="flex w-full mx-auto bg-[#f5f1eb] gap-x-3 mt-10">
    <div class="w-1/2">
      <app-hot-jobs-and-tender title="Hot Jobs" [items]="hotJobs" hoverBg="hover:bg-[#f9dddd]" bgColor="bg-[#f5f1eb]" titleBg="bg-[#ffa79e]"
       borderColor="border-[#ffa79e]" >
      </app-hot-jobs-and-tender>
    </div>

    <div class="w-1/2">
      <app-hot-jobs-and-tender title="Tenders" [items]="tenders" hoverBg="hover:bg-[#bfd8a7]" titleBg="bg-[#74a662]"
        bgColor="bg-[#f5f1eb]" borderColor="border-[#74a662]" ></app-hot-jobs-and-tender>
    </div>

    
  </div>

</div>