<div class="min-h-screen bg-[linear-gradient(180deg,_#fffaf2_0%,_#f6efe7_45%,_#ffffff_100%)] ">
  <div class="mx-auto container">

    <div class="mt-10 grid grid-cols-1 gap-6 pb-12 lg:grid-cols-2">
      <app-hot-jobs-and-tender
        title="Hot Jobs"
        [items]="hotJobs"
        hoverBg="hover:bg-[#fff1f0]"
        bgColor="bg-white"
        titleBg="bg-[#ff7a6c]"
        borderColor="border-[#ffb0a8]"
      >
      </app-hot-jobs-and-tender>

      <app-hot-jobs-and-tender
        title="Tenders"
        [items]="tenders"
        hoverBg="hover:bg-[#eef7e6]"
        titleBg="bg-[#5f9b4d]"
        bgColor="bg-white"
        borderColor="border-[#a3c58e]"
      ></app-hot-jobs-and-tender>
    </div>
  </div>
</div>
