<div class="py-2 flex items-center">
    <div class="bg-white  border rounded-sm border-gray-400  w-5 h-5 flex flex-shrink-0 justify-center items-center relative">
        <input 
            data-testid="allow-user"
            type="checkbox"
            [required]="isRequired()" 
            [readOnly]="isDisabled()"
            [formControl]="control()"
            [name]="name()"
            class="checkbox opacity-0 absolute cursor-pointer w-full h-full" />
        <div class="check-icon hidden bg-blue-700 text-white rounded-sm">
            <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" />
                <path d="M5 12l5 5l10 -10" />
            </svg>
        </div>
    </div>
    <label 
        [for]="name()"
        (click)="onClickLabel()" 
        class="ml-3 text-sm leading-4 font-normal text-gray-800  mr-4">{{label()}}</label>
</div>