::ng-deep .bdjobs-slider {
    .ngx-slider {
      .ngx-slider-pointer {
        width: 20px !important;
        height: 20px;
        top: -8px;
        background: #ccc;
      }

      .ngx-slider-selection {
        background: #8f8f8f;
      }

      .ngx-slider-model-value, .ngx-slider-model-high, .ngx-slider-floor, .ngx-slider-ceil {
        font-size: 12px;
      }
    }

    .ngx-slider .ngx-slider-pointer:after {
        content: none;
    }
}