<div class="flex justify-around w-full">
    <div class="w-1/2">
        <div>
            <app-file-upload [uploadIcon]="'images/img-upload.png'"  [uploadTitle]="'Image upload'" [maxHeight]="20000" [maxWidth]="20000" [payload]="x" (response)="getRes($event)"></app-file-upload>
        </div>a
        {{uploadResponse()}}
        <div>
            <app-text-filed> </app-text-filed>
        </div>
    </div>
    
    
    <div class="w-1/2">
        <div>
            <app-file-upload [uploadIcon]="'images/html-up.png'" [uploadTitle]="'Html'" [maxHeight]="20000" [maxWidth]="20000" [payload]="x" onFileSelected=""></app-file-upload>
        </div>
    </div>
</div>