<div>
    @if (label()) {
        <label [for]="name" data-testid="label" class="block text-sm font-medium leading-6 text-gray-900">
            {{label()}}
            <span
                [ngClass]="isRequired() ?'text-red-400':'hidden'"
            >*</span>
        </label>
    }
    @if (type() === 'text' || 'password' || 'email' || 'number') {
        <div class="relative mt-2 mb-2 rounded-md shadow-sm">
            <input 
                [type]="type()" 
                [name]="name" 
                [id]="name" 
                [class]="styleClass" 
                [ngClass]="classes()"
                [required]="isRequired()"
                [readOnly]="isDisabled()"
                [placeholder]="placeholder()"
                [formControl]="control()"
                [min]="minValue()"
                [max]="maxValue()"
                [maxlength]="maxLength()"
                >
        </div>
    }
    @if (!valid) {
        <p class="text-sm text-red-600 mt-2" id="hs-validation-name-error-helper">{{validationText()}}</p>
    }
</div>
