<div>
    @if (label()) {
        <label [for]="name" data-testid="label" class="block text-sm font-medium leading-6 text-gray-900">
            {{label()}}
            <span
                [ngClass]="isRequired()?'text-red-400':'hidden'"
            >*</span>
        </label>
    }
    @if (type() === 'text' || 'password' || 'email' || 'number') {
        <div class="relative mt-2 mb-2 rounded-md shadow-sm border">
            <span
                class="icon-redo absolute py-2.5 ml-2 text-[#323232]"
                [ngClass]="{'hidden': !isExtraAttempt(), 'py-[15px]': isExtraAttempt() && control().errors?.['invalid']}"></span>
            <input 
                [type]="type()" 
                [name]="name" 
                [id]="name" 
                [class]="styleClass" 
                [ngClass]="classes()"
                [required]="isRequired()"
                [readOnly]="isDisabled()"
                [placeholder]="placeholder()"
                [formControl]="control()"
                [min]="minValue()"
                [max]="maxValue()"
                [maxlength]="maxLength()"
                >
        </div>
    }
    <!-- Error Message -->
    @if (control().invalid && (control().touched || control().dirty)) {
        <p class="text-sm text-red-600 mt-2" id="hs-validation-name-error-helper">
          @if (control().errors?.['required']) {
            This field is required
          } @else if (control().errors?.['invalid']) {
            {{ validationText() || 'Invalid value' }}
          }
        </p>
      }
</div>
