<div class="bg-[#165273]">
  <div class="container mx-auto">
    <div class="grid grid-cols-2 px-8 sm:px-0 sm:grid-cols-3 lg:grid-cols-5">
      <!-- International Partners -->

      <div class="hs-dropdown [--placement:top-left] relative inline-flex">
        <button
          id="hs-dropup"
          type="button"
          class="hs-dropdown-toggle py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg text-white disabled:opacity-50 disabled:pointer-events-none focus:text-[#f57c00] hover:text-[#f57c00]"
        >
          International Partners
          <svg
            class="hs-dropdown-open:rotate-180 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m18 15-6-6-6 6"></path>
          </svg>
        </button>

        <div
          class="hs-dropdown-menu w-72 transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden z-10 bg-[#165273] shadow-md rounded-lg p-2 text-white"
          aria-labelledby="dropdown-international-partners"
        >
          <!-- new -->
          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none hover:bg-white hover:text-[#165273]"
            href="https://www.brightermonday.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Brighter Monday (Africa)</a
          >
          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none hover:bg-white hover:text-[#165273]"
            href="https://www.jobberman.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Jobberman (West Africa)</a
          >
          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none hover:bg-white hover:text-[#165273]"
            href="https://www.jobsdb.com/"
            target="_blank"
            rel="noopener noreferrer"
            >jobsDB (S.E. Asia)</a
          >
          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none hover:bg-white hover:text-[#165273]"
            href="https://www.jobstreet.com/"
            target="_blank"
            rel="noopener noreferrer"
            >JobStreet (S.E. Asia)</a
          >
          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none hover:bg-white hover:text-[#165273]"
            href="https://www.jora.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Jora (Worldwide)</a
          >
          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none hover:bg-white hover:text-[#165273]"
            href="https://www.occ.com.mx/"
            target="_blank"
            rel="noopener noreferrer"
            >OCC Mundial (Mexico)</a
          >
          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none hover:bg-white hover:text-[#165273]"
            href="https://www.seek.com.au/"
            target="_blank"
            rel="noopener noreferrer"
            >SEEK (Australia)</a
          >
          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none hover:bg-white hover:text-[#165273]"
            href="https://www.workana.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Workana (Latin America)</a
          >
          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none hover:bg-white hover:text-[#165273]"
            href="https://www.zhaopin.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Zhaopin (China)</a
          >
        </div>
      </div>

      <!-- Other Partners -->
      <div class="hs-dropdown [--placement:top-left] relative inline-flex">
        <button
          id="hs-dropup"
          type="button"
          class="hs-dropdown-toggle py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg text-white disabled:opacity-50 disabled:pointer-events-none focus:text-[#f57c00] hover:text-[#f57c00]"
        >
          Other Partners
          <svg
            class="hs-dropdown-open:rotate-180 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m18 15-6-6-6 6"></path>
          </svg>
        </button>

        <div
          class="hs-dropdown-menu w-72 transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden z-10 bg-[#165273] shadow-md rounded-lg p-2 text-white"
          aria-labelledby="dropdown-international-partners"
        >
          <!-- new -->

          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none hover:bg-white hover:text-[#165273]"
            href="https://ajkerdeal.com/"
            target="_blank"
            rel="noopener noreferrer"
            >AjkerDeal (Bangladesh)</a
          >
          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none hover:bg-white hover:text-[#165273]"
            href="https://deliverytiger.com.bd/"
            target="_blank"
            rel="noopener noreferrer"
            >Delivery Tiger (Bangladesh)</a
          >

          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none hover:bg-white hover:text-[#165273]"
            href="http://www.aspiringminds.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Aspiring Minds (India)</a
          >
        </div>
      </div>

      <!-- Privacy policy -->
      <div class="inline-flex items-center">
        <a
          class="hs-dropdown-toggle py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg text-white disabled:opacity-50 disabled:pointer-events-none focus:text-[#f57c00] hover:text-[#f57c00]"
          href="https://bdjobs.com/policy/Privacy_policy.asp"
          target="_blank"
          rel="noopener noreferrer"
          >Privacy Policy</a
        >
      </div>

      <!-- Terms & Conditions -->
      <div class="inline-flex items-center">
        <a
          class="hs-dropdown-toggle py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg text-white disabled:opacity-50 disabled:pointer-events-none focus:text-[#f57c00] hover:text-[#f57c00]"
          href="https://bdjobs.com/tos.asp"
          target="_blank"
          rel="noopener noreferrer"
          >Terms & Conditions</a
        >
      </div>

      <div class="support-text flex items-center flex-wrap">
        <span class="text-white">Call For Support</span>
        <span class="flex items-center text-[#FF8000] hover:text-[#fdd835]">
          <span class="icon-phone iphone ms-2"></span>
          <a href="tel:16479"
            ><span class="text-[#FF8000] hover:text-[#fdd835]">16479,</span></a
          >
          <a href="tel:091612444888" class="text-[#FF8000] hover:text-[#fdd835]"
            >091612444888</a
          ></span
        >
      </div>
    </div>
  </div>
</div>
