<div class="" #parentDivRef>
  @if (isFullWidth) {
  <div class="max-w-sm pb-1">
    <label for="input-label" class="block text-xs font-medium mb-2">{{
      searchLabel
    }}</label>
    <input
      type="text"
      id="input-label"
      name="input-label-name"
      class="py-2 px-3 block w-full rounded border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-500"
      placeholder="Search"
      (focus)="onSearchInputFocus()"
      (blur)="onSearchInputBlur()"
      [(ngModel)]="searchQueryInput"
    />
  </div>
  } @else {
  <div class="flex items-center mb-4">
    <label for="input-label" class="w-1/2 text-xs font-medium mr-4">{{
      searchLabel
    }}</label>
    @if (isSearchBox) {
    <input
      type="text"
      id="input-label"
      name="input-label-name"
      class="flex-grow rounded border border-gray-300 px-3 py-2 focus:outline-none focus:ring-1 focus:ring-blue-500"
      placeholder="Search"
      [(ngModel)]="searchQueryInput"
    />
    }
  </div>
  } @if (isOverLayVisible()) {
  <div
    class="bg-white rounded shadow border border-gray-300 overflow-y-auto max-h-[150px] p-4 mb-4"
  >
    <ul class="">
      @for (item of suggestions; track $index) {
      <li
        class="flex items-center mb-2"
        (click)="toggleSelection(item)"
        (keypress)="handleKeypress($event, item)"
      >
        <!-- <input
                  type="checkbox"
                  id="{{ item.selectId }}"
                  class="mr-2 accent-blue-600"
                  [(ngModel)]="item.isSelected"
                  [ngModelOptions]="{standalone: true}"
                  [disabled]="(control?.value?.length || 0) > this.maxSelection && !item.isSelected"
                  (change)="onChnageItem($event, item)"
                  [hidden]="!checkBoxVisible"
                > -->

        @if (checkBoxVisible) {
        <div class="flex items-center mr-2">
          @if (item.isSelected) {
          <div
            class="w-5 h-5 border-2 border-gray-300 rounded-sm bg-blue-500 flex items-center justify-center"
          >
            <svg
              class="w-4 h-4 text-white"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              ></path>
            </svg>
          </div>
          } @else {
          <div class="w-5 h-5 border-2 border-gray-300 rounded-sm"></div>
          }
        </div>
        }

        <!-- <div [class]="{'flex items-center mr-1': true, 'checked': item.isSelected, 'unchecked': !item.isSelected}">
                  <div [class]="{
                    'w-5 h-5 border-2 rounded flex items-center justify-center shrink-0 mt-0.5': true,
                    'bg-blue-500 text-white': item.isSelected,
                    'border-gray-200 text-blue-600': !item.isSelected,
                    'focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none': true
                  }">
                    @if (item.isSelected) {
                      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                      </svg>
                    }
                  </div>
                </div> -->

        <label for="{{ item.selectId }}" class="text-xs">{{
          item.label
        }}</label>
      </li>
      }

      <!-- <div class="inline-flex items-center cursor-pointer select-none vertical-align-bottom relative box-border border-[#3B82F6] rounded-md shadow-sm">
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M4.86199 11.5948C4.78717 11.5923 4.71366 11.5745 4.64596 11.5426C4.57826 11.5107 4.51779 11.4652 4.46827 11.4091L0.753985 7.69483C0.683167 7.64891 0.623706 7.58751 0.580092 7.51525C0.536478 7.44299 0.509851 7.36177 0.502221 7.27771C0.49459 7.19366 0.506156 7.10897 0.536046 7.03004C0.565935 6.95111 0.613367 6.88 0.674759 6.82208C0.736151 6.76416 0.8099 6.72095 0.890436 6.69571C0.970973 6.67046 1.05619 6.66385 1.13966 6.67635C1.22313 6.68886 1.30266 6.72017 1.37226 6.76792C1.44186 6.81567 1.4997 6.8786 1.54141 6.95197L4.86199 10.2503L12.6397 2.49483C12.7444 2.42694 12.8689 2.39617 12.9932 2.40745C13.1174 2.41873 13.2343 2.47141 13.3251 2.55705C13.4159 2.64268 13.4753 2.75632 13.4938 2.87973C13.5123 3.00315 13.4888 3.1292 13.4271 3.23768L5.2557 11.4091C5.20618 11.4652 5.14571 11.5107 5.07801 11.5426C5.01031 11.5745 4.9368 11.5923 4.86199 11.5948Z"
                    fill="currentColor"
                />
              </svg>
            </div> -->

      @if (searchQueryInput().trim() && suggestions.length === 0) {
      <li>
        <p>No Item found!</p>
      </li>
      }
    </ul>
  </div>
  }
</div>
