<div class="flex custom-wrapper-loader">
  <!-- Div 1 -->
  <div class="w-1/5 min-h-500 px-4 py-2">
    <div class="item">
      <div class="flex justify-center items-center">
        <ngx-skeleton-loader appearance="circle" [theme]="{'background-color':'#CCCCCC', width: '80px', height: '80px' }" />
      </div>
      <div class="flex justify-center items-center">
        <div class="w-1/2">
          <ngx-skeleton-loader
            [theme]="{'background-color':'#CCCCCC',
              width: '100%',
              'border-radius': '5',
              height: '20px',
              'margin-bottom': '10px'
            }"
          />
        </div>
      </div>
      <div class="flex justify-center items-center">
        <div class="w-full">
          <ngx-skeleton-loader
            [theme]="{'background-color':'#CCCCCC',
              width: '100%',
              'border-radius': '5',
              height: '20px',
              'margin-bottom': '10px'
            }"
          />
        </div>
      </div>
      <div class="flex justify-center items-center">
        <div class="w-2/5">
        </div>
      </div>
      <div class="flex justify-center items-center">
        <div class="w-2/3">
          <ngx-skeleton-loader
            [theme]="{'background-color':'#CCCCCC',
              width: '100%',
              'border-radius': '5',
              height: '25px',
              'margin-bottom': '10px'
            }"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- Div 2 -->
  <div class="w-1/5 min-h-500 px-4 py-2">
    <div class="item">
      <ngx-skeleton-loader
        [theme]="{'background-color':'#CCCCCC',
          width: '90%',
          'border-radius': '5',
          height: '25px',
          'margin-bottom': '10px'
        }"
      />
      <ngx-skeleton-loader
        [theme]="{'background-color':'#CCCCCC',
          width: '70%',
          'border-radius': '5',
          height: '20px',
          'margin-bottom': '10px'
        }"
      />
      <ngx-skeleton-loader
        [theme]="{'background-color':'#CCCCCC',
          width: '50%',
          'border-radius': '5',
          height: '15px',
          'margin-bottom': '10px'
        }"
      />
      <ngx-skeleton-loader
        [theme]="{'background-color':'#CCCCCC',
          width: '90%',
          'border-radius': '5',
          height: '25px',
          'margin-bottom': '10px'
        }"
      />
      <ngx-skeleton-loader
        [theme]="{'background-color':'#CCCCCC',
          width: '70%',
          'border-radius': '5',
          height: '20px',
          'margin-bottom': '10px'
        }"
      />
      <ngx-skeleton-loader
        [theme]="{'background-color':'#CCCCCC',
          width: '40%',
          'border-radius': '5',
          height: '15px',
          'margin-bottom': '10px'
        }"
      />
    </div>
  </div>
  <!-- Div 3 -->
  <div class="w-1/5 min-h-500 px-4 py-2">
    <div class="item">
      <ngx-skeleton-loader
        [theme]="{'background-color':'#CCCCCC',
          width: '80%',
          'border-radius': '5',
          height: '25px',
          'margin-bottom': '10px'
        }"
      />
      <ngx-skeleton-loader
        [theme]="{'background-color':'#CCCCCC',
          width: '90%',
          'border-radius': '5',
          height: '15px',
          'margin-bottom': '10px'
        }"
      />
    </div>
  </div>
  <!-- Div 4 -->
  <div class="w-1/5 min-h-500 px-4 py-2">
    <div class="item">
      <ngx-skeleton-loader
        [theme]="{'background-color':'#CCCCCC',
          width: '40%',
          'border-radius': '5',
          height: '15px',
          'margin-bottom': '10px'
        }"
      />
      <ngx-skeleton-loader
        [theme]="{'background-color':'#CCCCCC',
          width: '90%',
          'border-radius': '5',
          height: '25px',
          'margin-bottom': '10px'
        }"
      />
      <div class="mb-4"></div>
      <ngx-skeleton-loader
        [theme]="{'background-color':'#CCCCCC',
          width: '30%',
          'border-radius': '5',
          height: '10px',
          'margin-bottom': '10px'
        }"
      />
      <ngx-skeleton-loader
        [theme]="{'background-color':'#CCCCCC',
          width: '40%',
          'border-radius': '5',
          height: '10px',
          'margin-bottom': '10px'
        }"
      />
      <ngx-skeleton-loader
        [theme]="{'background-color':'#CCCCCC',
          width: '70%',
          'border-radius': '5',
          height: '15px',
          'margin-bottom': '10px'
        }"
      />
    </div>
  </div>
  <!-- Div 5 -->
  <div class="w-1/5 min-h-500 px-4 py-2">
    <div class="item">
      <ngx-skeleton-loader count="5" [theme]="{'background-color':'#CCCCCC'}"/>
    </div>
  </div>
</div>
