<!-- <app-nav ></app-nav> -->

<!-- Demo content -->

<div class="min-h-screen bg-[linear-gradient(180deg,_#fffaf2_0%,_#f6efe7_45%,_#ffffff_100%)] ">

  <div class="mx-auto max-w-8xl px-4 sm:px-6 lg:px-8  container ">
    <app-mis-nav></app-mis-nav>

    <div>
          <div class="flex gap-4 mb-4">
            <button [routerLink]="['/add-company']"
              class="cursor-pointer rounded-lg border border-emerald-200 bg-emerald-50 px-4 py-2 text-lg font-semibold text-emerald-700 transition hover:bg-emerald-100">Add
              Company</button>
            <button [routerLink]="['/edit-company']"
              class="cursor-pointer rounded-lg border border-amber-200 bg-amber-50 px-4 py-2 text-lg font-semibold text-amber-700 transition hover:bg-amber-100">Edit
              Company</button>
            <button [routerLink]="['/delete-company']"
              class="cursor-pointer rounded-lg border border-red-200 bg-red-50 px-4 py-2 text-lg font-semibold text-red-700 transition hover:bg-red-100">Delete
              Company</button>
          </div>
    </div>
    <router-outlet />
  </div>
</div>

<!-- <app-footer></app-footer> -->

<!-- Below content will be always be rendered for confirmation modal, loader and modal container -->

<app-confirmation-modal
  [class.hidden]="!isEnableConfirmation()"
  [isOpen]="isOpen()"
  (closeModal)="toggleModal($event)"
  (saveAction)="saveChanges($event)"
>
</app-confirmation-modal>

<div
  class="fixed inset-0 flex items-center justify-center z-[99999] bg-opacity-5 bg-[#f9f9f9] backdrop-blur-[2px]"
  [class.hidden]="!isLoading()"
>
  <div class="loader"></div>
</div>

<app-modal-container
  [componentRef]="selectedComponent()"
  [attributes]="modalAttributes()"
  [inputs]="inputs()"
  [isClose]="isClose()"
  (onClose)="onCloseEvent($event)"
></app-modal-container>
