<app-nav ></app-nav>

<!-- Demo content -->
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem quam ipsam tempore mollitia vel quae reiciendis delectus tempora earum dolore, voluptate rerum! Aliquid animi nihil iste eveniet illo accusantium, voluptate dolores saepe amet corrupti? Soluta dicta eligendi recusandae natus quia aliquid corrupti nulla voluptas, ea nemo officia et amet nesciunt vitae doloribus nisi id laudantium mollitia impedit assumenda architecto praesentium odio aliquam eius. Officia expedita ullam delectus eaque veniam. Fugit aliquam esse rem quisquam commodi, eius numquam laudantium velit. Enim eaque ut, aspernatur, culpa nesciunt possimus, autem nam alias impedit quod architecto magnam assumenda explicabo fugiat quaerat officia omnis laboriosam.</p>

<router-outlet />

<!-- <app-footer></app-footer> -->

<!-- Below content will be always be rendered for confirmation modal, loader and modal container -->

<app-confirmation-modal
  [class.hidden]="!isEnableConfirmation()"
  [isOpen]="isOpen()"
  (closeModal)="toggleModal($event)"
  (saveAction)="saveChanges($event)"
>
</app-confirmation-modal>

<div
  class="fixed inset-0 flex items-center justify-center z-[99999] bg-opacity-5 bg-[#f9f9f9] backdrop-blur-[2px]"
  [class.hidden]="!isLoading()"
>
  <div class="loader"></div>
</div>

<app-modal-container
  [componentRef]="selectedComponent()"
  [attributes]="modalAttributes()"
  [inputs]="inputs()"
  [isClose]="isClose()"
  (onClose)="onCloseEvent($event)"
></app-modal-container>
