@import 'ngx-toastr/toastr';
@import "tailwindcss";

.toast-container .ngx-toastr {
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.toast-container .ngx-toastr:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
}
.toast-container .ngx-toastr {
  padding: 15px 14px 15px 50px !important;
}
.toast-close-button {
  text-shadow: none !important;
}
.toast-close-button:hover, .toast-close-button:focus {
  color: white;
  opacity: .7;
}
.toast-title {
  font-weight: 500 !important;
  font-size: 16px !important;
}

.toast-container .light-green-toast {
  background-color: #d1fae5 !important;
  color: #065f46 !important;
}
.toast-container .light-green-toast .toast-close-button {
  color: #065f46 !important;
}

.toast-container .light-red-toast {
  background-color: #fecaca !important;
  color: #991b1b !important;
}
.toast-container .light-red-toast .toast-close-button {
  color: #991b1b !important;
}

.loader {
  border: 8px solid #cbd5e1;
  border-top: 8px solid #b32d7d;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

body {
    background-color: #eeeeee;
}

.NgxEditor__Wrapper .NgxEditor__MenuBar {
  width: 100%;
}
.NgxEditor__Content p {
  margin-bottom: 6px;
}